


/* Header section */



/* contacts link */







/* Hover */







/* Logo */





/* Hero section */




/* hero button */


/* Section title */


/* Benefits section */









/* Activities section */







/* Team Section */









/* Portfolio filters */








/* Ptojects section */






/* Overlay*/


/* clients */











/* Footer */































/* Modal form */




/* bottom: 0;
  right: 0;
  overflow-y: auto;
  */

/* .modal-form{
   color: var(--main-text);
  font-family: "Roboto-Normal";
} */

/* overflow-y: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 221px;
  left: 50%;
  transform: translateX(-50%) scale(1);
 */
/* position: absolute; */











































