.logo {
  width: 145px;
  height: 31px;

  display: flex;

  font-size: 26px;
  line-height: 1.2;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  color: var(--main-text);

  &:hover,
  &:focus {
    color: var(--main-text);
  }

  &--accent {
    color: var(--accent);
  }
}

.footer__logo {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--light-text);

  &:hover,
  &:focus {
    color: var(--light-text);
  }
}
