:root {
    // Акцентнтый цвет
    --accent: #2196f3;

    // основной цвет фона
    --main-bg: #ffffff;

    // вторичный цвет фона
    --secondary-bg: #f5f4fa;

    // основной текст
    --main-text: #212121;

    // Вторичный текст
    --secondary-text: #757575;

    // светлый текст
    --light-text: #ffffff;

    // footer конаткты текст
    --footer-contacts: rgba(255, 255, 255, 0.6);

    // footer цвет фона
    --footer-bg: #2f303a;
    
    // top menu underline
    --nav-underline: #ececec;
    
    // Портфолио рамка проекта
    --item-border: #eeeeee;
    
    // цвет иконок соцсетей
    --social-links: #afb1b8;
    
        // footer цвет иконок соцсетей

    --footer-sl: rgba(255, 255, 255, 0.1);
 
    // hero цвет фона
    --hero-bg: #c4c4c4;  

    /* fonts */
    --main-font: 'Roboto';
    --secondary-font: 'Raleway';

    /* animation */
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }