.benefits {
  @extend %section;

  &__container {
    @extend %container;
  }

  &__item-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-text);
  }

  &__svg-container {
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    border-radius: 4px;
  }
}

.benefits__item {
  margin-right: 30px;
  width: calc((100% - (4 - 1) * 30px) / 4);

  &:last-child {
    margin-right: 0;
  }
}

.benefits__item-title {
  margin-bottom: 10px;
  text-align: left;
}