.footer {
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    @extend %container;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: baseline;
  }
}
